body{
	font-family: 'PT Sans', sans-serif;

} 
.yes{
    width: 200px;
    height: 200px;
}

.p_style{
	color:red;
	margin-top: 10px;
	font-style: italic;
	font-size: 20px;
}

.div_margin{
	margin-top: 40px;

}

.catergory_color{
	color: #51A5D0;
}

.admin_background{
	background-color: lightgrey;


}
.image_div {
    position: relative;
    width: 12.5%;
    max-width: 12.5%;
    float: left;
    color: white;
    overflow: hidden;
    border: 1px solid lightgrey;
    transition: all .5s ease;
    background-color: white;

}


.image_div:hover {
    box-shadow: 0 0 10px #888888;
    overflow: visible;
    transform:  scale3d(1.03,1.03,1.03);
    z-index: 200;
    border: none;
    cursor: pointer;
}


.imageOverlay2 {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.w_p{
    width: 99%;
    max-width: 99%;
    height: auto;
    transition: all 1s ease;
}
.w_p:hover{
    box-shadow: 0 0 10px #888888;
    overflow: visible;
    transform:  scale3d(1.01,1.01,1.01);
    z-index: 200;
    border: none;
    cursor: pointer;
}


.checked {
    color: orange;
}

.m_t {
    margin-top: -10px;
}



.load_more_button{
    padding: 10px 100px;
    color: #17B0CF;
    border:1px solid #17B0CF;
    background-color: transparent;


}
.load_more_button:hover{
    cursor: pointer;


}



.href_color{
    color:white;
}
.href_color:hover{
    color:white;
    text-decoration: none;
}




@media only screen and (max-width: 768px) {

    .image_div {
    position: relative;
    width: 25%;
    max-width: 25%;
    float: left;
    color: white;
    overflow: hidden;
    border: 1px solid lightgrey;
    transition: all .5s ease;
    background-color: white;

}








}