body{
	font-family: 'PT Sans', sans-serif;

}



.p_style{
	color:red;
	margin-top: 10px;
	font-style: italic;
	font-size: 20px;
}

.div_margin{
	margin-top: 40px;

}

.catergory_color{
	color: #51A5D0;
}

.admin_background{
	background-color: lightgrey;


}
.image_div {
        position: relative;
        width: 10%;
        max-width: 10%;
        float: left;
        overflow: hidden;
        color: white;
		border: 1px solid black;

    }


.imageOverlay2 {
        opacity: 1;

        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
